{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/welcome.css' %}" type="text/css">
        <title> {% block title %} Welcome {% endblock %}</title>
    </head>

    <body>
        <header class="navbar">
          <nav>
            <ul class="nav-links">
              <li><a href="#">Learn with Friends!</a></li>
              <li><a href="#">Learning materials</a></li>
              <li><a href="#">Teacher Credits</a></li>
            </ul>
          </nav>
          <div class="nav-actions">
            <a href="{% url 'login-action' %}" class="login">Log in</a>
            <a href="{% url 'home_action' %}" class="cta-button">Get started — it’s free</a>
          </div>
        </header>
        
        <div class="hero">
            <div class="hero-content">
              <h1>Learn, Code, and Collaborate <br> in Real Time</h1>
              <p>
                Join a collaborative environment where students can work on HTML, CSS, 
                and JavaScript together — synchronously and asynchronously. Track your progress, 
                share your profile, and contribute to others' projects seamlessly.
              </p>
              <a href="{% url 'home_action' %}" class="cta-button">Start Learning Now</a>
            </div>
        </div>
    </body>
</html>